:root {
  --egg-nog: #fbedc4;
  --velvet-forest: #1e3227;
  --mustard: #ccb262;
  --copper: #c27f36;
  --dust: #707e7b;
  --dust-II: #f1f1f1;
  --garnet: #76290a;
  --garnet-II: #a21935;

  --linen: #ffe5a9;
}
